# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# PyCharm
.idea/
*.iml

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Environment variables
.env

# mypy
.mypy_cache/

# pytype
.pytype/

# Ruff
.ruff_cache/

# Temporary files
*.tmp
*.temp